.blacktext {
    color: #333333; /* Warna hitam */
}

.bg-login{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(230,245,255,1) 50%, rgba(220,231,255,1) 100%);
    background-attachment: fixed;
}

.cn-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengisi tinggi viewport */
    padding: 1rem; /* Menambahkan sedikit padding agar tidak menempel ke tepi layar pada perangkat kecil */
}

.cn-login {
    max-width: 500px; /* Atur lebar maksimal untuk container login */
    width: 100%; /* Memastikan container memenuhi lebar parent */
    padding: 2rem; /* Menambahkan padding internal */
    background-color: #fff; /* Warna latar belakang, sesuaikan dengan kebutuhan */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan agar terlihat menarik */
    border-radius: 8px; /* Menambahkan border-radius untuk sudut yang lebih halus */
}

.border10{
    border-radius: 10px !important;
}

.border20{
    border-radius: 20px !important;
}

.border20Left{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.border20Right{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.form-control.border20 {
    border-radius: 20px !important; /* Kombinasi kelas untuk spesifikasi yang lebih baik */
}

.btn.border20{
    border-radius: 20px;
}

#passwordInput{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#passwordToggle{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lightgrey {
    background-color: #ececec !important;
    color: #000; /* Warna teks, disesuaikan agar terlihat jelas */
    transition: background-color 0.3s ease;
}

.lightgrey:hover {
    background-color: #d4d4d4 !important; /* Warna yang berbeda saat tombol dihover */
    color: #000; /* Warna teks tetap hitam pada hover */
}

.nav-link {
    color: #fff; /* Warna teks untuk link dalam sidebar */
}

.darkwhite{
    background-color: #f1f1f1;
}

.darkwhite2{
    background-color: #dae6f7;
}

.offcanvas-body {
    padding: 1rem;
}

.list-group-item a {
    text-decoration: none;
    color: inherit;
}

.list-group-item a:hover {
    color: #333333;
    text-decoration: none;
}

.projectMenu{
    gap: 5px;
}

.gap10{
    gap: 10px;
}

.gap20{
    gap: 20px;
}

.photoProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
}

.btnnew{
    padding: 5px 20px !important;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.column-header button:hover {
    background-color: var(--bs-primary);
    color: #f3f8fe;
}

.card-header-custom {
    background-color: #f1f1f1;
    /* color: var(--bs-primary); */
    border-bottom: 0px solid var(--bs-primary) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.card-header-custom {
    background-color: #f1f1f1;
    /* color: var(--bs-primary); */
    border-bottom: 0px solid var(--bs-primary) !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.card-header-custom2 {
    background-color: none !important;
    border-bottom: 0px !important;
}

.datediv{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 35px;
}

.icon-container {
    width: 30px; /* Adjust width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitForm a{
    text-decoration: none;
}

#submitForm a:hover{
    text-decoration: none;
}

.cardproject{
    color: #333333;
    text-decoration: none;
}

cardproject2{
    border: 0px !important;
}

.cardproject:hover{
    background-color: #F1F1F1;
    color: #333333;
    text-decoration: none;
}

/* Horizontal menu modifier */

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu a, .menu span {
    padding: 10px;
    text-decoration: none;
}

.menu a {
    color: #007bff;
}

.menu span {
    color: #6c757d;
}

.menuTab a{
    color: #333333;
    text-decoration: none;
}

.menuTab a:hover{
    color: #000000;
    text-decoration: none;
}

/* Horizontal menu modifier */

.chart-container {
    width: 750px;  /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */
    margin: auto;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}

.custom-striped {
    background-color: #f2f2f2 !important; /* Warna striping default Bootstrap */
}

.move-buttons {
    display: flex;
    flex-direction: column;
}

  .move-buttons button {
    margin-bottom: 2px;
}

