.bg-login{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(230,245,255,1) 50%, rgba(220,231,255,1) 100%);
    background-attachment: fixed;
}

.cn-login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengisi tinggi viewport */
    padding: 1rem; /* Menambahkan sedikit padding agar tidak menempel ke tepi layar pada perangkat kecil */
}

.cn-login {
    max-width: 500px; /* Atur lebar maksimal untuk container login */
    width: 100%; /* Memastikan container memenuhi lebar parent */
    padding: 2rem; /* Menambahkan padding internal */
    background-color: #fff; /* Warna latar belakang, sesuaikan dengan kebutuhan */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan agar terlihat menarik */
    border-radius: 8px; /* Menambahkan border-radius untuk sudut yang lebih halus */
}

.border10{
    border-radius: 10px !important;
}

.border20{
    border-radius: 20px;
}

#passwordInput{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#passwordToggle{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lightgrey {
    background-color: #ececec !important;
    color: #000; /* Warna teks, disesuaikan agar terlihat jelas */
    transition: background-color 0.3s ease;
}

.lightgrey:hover {
    background-color: #d4d4d4 !important; /* Warna yang berbeda saat tombol dihover */
    color: #000; /* Warna teks tetap hitam pada hover */
}

.nav-link {
    color: #fff; /* Warna teks untuk link dalam sidebar */
}

.darkwhite{
    background-color: #f1f1f1;
}

.darkwhite2{
    background-color: #dae6f7;
}

.btn.border20{
    border-radius: 20px;
}

.offcanvas-body {
    padding: 1rem;
}

.list-group-item a {
    text-decoration: none;
    color: inherit;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.projectMenu{
    gap: 15px;
}